*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-ingredient: #3282f7;
	--color-appliance: #68d9a4;
	--color-ustensil: #ed6454;
	--color-gray: #E7E7E7;
	--color-brown: #C7BEBE;
	--raduis: 5px;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

ul {
	list-style-type: none;
}

.not-found {
	grid-column: 1 / 4;
	margin-top: 100px;
	font-size: clamp(20px, 3vw, 30px);
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ----- HEADER ----- */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-bar {
	margin-top: 2.5rem;
	display: flex;
	width: 100%;
	border-radius: var(--raduis);
}
.search-bar:focus-within {
	border: 2px solid black;
}

.search-bar__input {
	width: 100%;
	padding: 1.7rem;
	font-family: inherit;
	font-size: 1.5rem;
	background-color: var(--color-gray);
	border-radius: var(--raduis) 0 0 var(--raduis);
	border: none;
	outline: none;
}

.btn-search {
	padding-right: 1.7rem;
	border: none;
	background-color: var(--color-gray);
	border-radius: 0 var(--raduis) var(--raduis) 0;
	cursor: pointer;
}

.btn-search__icon {
	width: 25px;
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* ----- TAGS ----- */
.tags-section {
	margin-top: 2rem;
	display: flex;
	gap: 1.5rem;
}

.tag {
	padding: 0.5rem 1rem;
	background-color: var(--color-ingredient);
	gap: 10px;
	border-radius: var(--raduis);
	box-shadow: 0 0 20px 2px #e1e1e1;
}

.tag__label {
	color: white;
	font-size: 1.4rem;
}

.tag-remove {
	background: transparent;
	border: 0;
}

.tag-remove__icon {
	width: 17px;
	cursor: pointer;
}

/* ----- FILTRE ----- */
.filter-section {
	height: 70px;
	display: flex;
	align-items: start;
	gap: 2rem;
}
@media screen and (max-width: 680px) {
	.filter-section {
		height: auto;
		flex-wrap: wrap;
	}

	.filter {
		min-width: 100%;
	}
}

.filter {
	width: 200px;
	position: relative;
	box-shadow: 0 0 20px 2px #e1e1e1;
	border-radius: var(--raduis);
	box-shadow: 0px 2px 10px rgba(0,0,0,.30);
    transition: width 250ms ease-in-out;
}
.filter-active {
	width: 50%;
}

.filter-ingredients {
	background-color: var(--color-ingredient);
}
.filter-appliances {
	background-color: var(--color-appliance);
}
.filter-ustensils {
	background-color: var(--color-ustensil);
}

.filter-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter-search__input {
	width: 100%;
	padding: 1.5rem;
	background-color: transparent;
	border: 0;
	outline: none;
	pointer-events: none;
}
.filter-search__input,
.filter-search__input::placeholder {
	font-size: 1.6rem;
	color: white;
}

.filter-search__btn {
	padding: 2rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.filter-search__btn .icon {
	width: 19px;
	height: 100%;
	pointer-events: none;
	transition: transform 250ms;
}
.filter-active .filter-search__btn .icon {
	transform: rotate(180deg);
}

.filter-list {
	max-height: 0;
	overflow-y: auto;
	visibility: hidden;
    transition: max-height 250ms ease-out;
}
.filter-active .filter-list {
	max-height: 250px;
	padding: 1.5rem;
	visibility: visible;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}
.filter-active .filter-search__input {
	pointer-events: all;
}

.filter-list__item {
	color: white;
	font-size: 1.4rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	cursor: pointer;
}
.filter-list__item:hover {
	text-decoration: underline;
}

.no-result {
	margin: 0 1.5rem 1.5rem 1.5rem;
	font-size: 1.6rem;
	color: rgba(255, 255, 255, 0.80);
}

/* ----- RECETTE ----- */
.recipes-section {
	margin-top: 1.5rem;
	display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;
}
@media screen and (max-width: 1000px) {
	.recipes-section {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 700px) {
	.recipes-section {
		grid-template-columns: 1fr;
	}
}

.card-recipe {
	border-radius: var(--raduis);
	box-shadow: 0 0 20px 2px #ececec;
	overflow: hidden;
}

.card-recipe__thumbnail {
	height: 200px;
	background-color: var(--color-brown);
}

.card-recipe__description {
	height: 100%;
	padding: 1.5rem;
	background-color: var(--color-gray);
}

.recipe-header {
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.recipe-time {
	gap: 0.5rem;
}
.recipe-time__time {
	font-size: 1.5rem;
	font-weight: bold;
}
.recipe-time__icon {
	width: 18px;
}

.card-recipe__details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.recipe-ingredients__item {
	font-size: 1.2rem;
}

.recipe-ingredients__item span {
	font-weight: bold;
}

.card-recipe__instructions {
	height: min-content;
	font-size: 1.2rem;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}